/* ----------------------- Responsive ----------------------- */
@media (max-width: 480px) {
    /* header */
    .header-part2 {
      position: relative;
    }
    .header-part2-title {
      width: 100% !important;
    }
    .header-part2-image {
      display: none;
    }
    /* Pro Barbers */
    .probarbers {
      clip-path: none;
      padding: 25px 0;
    }
    .probarbers>.title-h2 {
      font-size: 55px !important;
    }
    .probarbers .button-posts {
      padding: 15px 10px !important;
      width: 73%;
    }
    /* services */
    .services-products {
      flex-direction: column;
      gap: 30px;
    }
    .services-product {
      width: 100%;
    }
    /* shop */
    .store {
      clip-path: polygon(50% 0%, 100% 4%, 100% 100%, 0 100%, 0 4%);
    }
    .store .title-h2 {
      font-size: 50px;
    }
    .products {
      flex-direction: column;
      gap: 30px;
    }
    .product {
      width: 100%;
    }
    .button-store {
      width: 100% !important;
      display: block;
      padding: 15px 10px !important;
    }
    /* shave */
    .shave {
      display: none;
    }
    /* Reviews */
    .reviews-customers {
      flex-direction: column;
      gap: 30px;
    }
    .reviews-customer {
      width: 100%;
    }
    /* Recent Blog Posts */
    .posts {
      clip-path: none;
      padding: 80px 0 80px;
    }
    .posts-title {
      margin: 0px 0 45px;
    }
    .posts-title>.title-h2 {
      font-size: 50px;
    }
    .container .blog-post {
      flex-direction: column;
    }
    .blog {
      width: 100% !important;
    }
    .posts .button-posts {
      width: 100% !important;
      padding: 20px 10px !important;
    }
    /* follow us */
    .follow-center {
      width: 100% !important;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .follow-image-button {
      display: none;
    }
  }